/* body {
  background-color: black;
  color: white;
} */


/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  width: 900px;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
  display: inline-block;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

/* Other Styles */

body > main, body > section {
  text-align: center;
  padding: 4rem 3rem;
}

body > section > p {
  padding: 1rem 5rem;
}
nav, body > main {
  background: #66768a;
  color: white;
}
.container:after, .container:before {
  content: "";
  display: table;
  clear: both;
}

nav {
  padding: 0.7em 2em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80%;
}

nav ul {
  float: left;
  width: 30%;
}

nav div {
  float: left;
  width: 50%;
}

nav a {
  float: right;
  color: black;
  background: lightblue;
  padding: 0.4em 0.4em;
  border-radius: 2px;
}

nav div img {
  width: 40px;
  margin: 0 30%;;
}

nav ul li {
  padding: 0 0.4em;
}

.play-icon-container img {
  width: 25px;
  margin: 0 10px;
}

.play-icon-container a {
  color: white;
}

.float-2-col > section {
  float: left;
  padding: 1em;
  width: 48%;
  margin: 1%;
}

body > .float-2-col {
    background-color: #dbdfe2;
}

body > section button {
  background: none;
  margin-top: 0.5em;
  border: 1px solid black;
  padding: 0.8em 1rem;
  border-radius: 2px;
}

.float-2-col > section > img {
  display: block;
  width: 300px;
  height: 180px;
  margin: auto;
  background-color: #66768a;
}

footer {
  background-color: #161f2a;
  color: white;
  padding: 1em;
  text-align: left;
}


footer h6 {
  margin: 0.8em 0 0 0;
  padding: 0;
  color: #66768a;
}
footer ul li {
  padding-right: 1em;
}

footer ul a, .adress-title {
  font-size: 0.7em;
  font-weight: bold;
}
footer {
  position: relative;
  height: 200px;
}

footer p {
  font-size: 80%;
}
footer .adress {
  position: absolute;
  right: 0;
  top: 10px;
  padding-right: 1em;
  width: 200px;
}

footer .contact img {
  width: 25px;
}
footer a[href*="mailto"] {
  font-weight: bold;
  font-style: normal;
  font-size: 80%;
}

footer section:last-child {
  position: relative;
}

footer hr {
margin-top: 1em;
margin-bottom: 0.5em;
}
footer hr + p {
  font-size: 60%;
  width: 90%;
  font-weight: bold;
}
.footer-logo {
  position: absolute;
  right: 0;
  top: 10px;
}

.footer-logo {
  width: 20px;
}


/* MOBILE */

@media all and (max-width: 600px) {

  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  nav *, nav, nav div, nav ul  {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  nav ul li {
    padding: 0.5rem 1rem;
  }

  body main, body > section, .float-2-col {
    width: 100%;
    margin: 0;
  }

  .float-2-col section {
    width: 100%;
    margin: 0;
  }

  body > main, body > section, body > section > p {
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
